<a href="https://colab.research.google.com/github/Shivamradeon/CommunityClassroom-Git/blob/master/DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assingment 3.1: WAP to add three numbers from and print result

In [ ]:
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = int(input("enter Third Number: "))
print((a+b+c))

Enter First Number: 45
Enter Second Number: 56
enter Third Number: 67
168

In [ ]:
# Assingment 3.2: WAP to concatinate three strings, inputs from user and print

In [ ]:
s1 = input("Enter First String: ")
s2 = input("Enter second String: ")
s3 = input("Enter Third String: ")
print(s1 + s2 +  s3)

Enter First String: OM
Enter second String: Namaah
Enter Third String: Shivaay
OMNamaahShivaay

In [ ]:
# 4.1 : Input two numbers from user and compare them.

In [ ]:
a = int(input("enter first no: "))
b = int(input("enter second no: "))
if a > b:
  print(a, ">", b)
else:
  print(a, "<", b)

enter first no: 23
enter second no: 21
23 > 21

In [ ]:
# 4.2 : WAP to check whether a number is odd or even.

In [ ]:
num = int(input("Enter the Required No: "))
if num % 2 == 0:
  print( num, "Even Number")
else:
  print( num, "Odd Number")

Enter the Required No: 68
68 Even Number

In [ ]:
num = 10
while num > 0:
  print(num * '*')
  num -= 1
  x = 20
y = 30

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range(1, 11):
  print(5, "*", i, "=", i*5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
s = 0
for num in range(1, 11):
  s += num
print(f"Sum of First 10 Natural Numbers is: {s}")

Sum of First 10 Natural Numbers is: 55

In [ ]:
for i in range(1, 11):
  print(7, "*", i, "=", i*7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
for i in range(1, 11):
  print(9, "*", i, "=", i*9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
n = int(input("Enter a Number: "))
for i in range(1, 11):
  print(12, "*", i, "=", i*n)

Enter a Number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
n = int(input("Enter a Number: "))
s = 0
for i in range(1, n):
  s += i
print(s)

Enter a Number: 6
1
2
3
4
5
15

In [ ]:
# 4.3: Prime Number
n = int(input("Enter The Number for Checking: "))
p = 0
for i in range(2, n//2 +1):
  if n % i == 0:
    p = 1
    break

if p == 0:
  print("Prime")
else:
  print("Not Prime")

Enter The Number for Checking: 6
Not Prime

In [ ]:
n = int(input("Enter the Number for Checking: "))
p = 0
for i in range(2, n):
  if n % i == 0:
    p = 1
    break

if p == 0:
  print("Prime")
else:
  print("Not Prime")

Enter the Number for Checking: 3
Prime

In [ ]:
## 4.4 Fibonacci Series
n = 10
a = 0
b = 1

print(a)
print(b)
for i in range(n):
  c = a + b
  print(c)
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
# factorial

In [ ]:
n = int(input("enter a number: "))
factorial = 1

for i in range(1, n+1):
  factorial *= i
print("Factorial is :", factorial)

enter a number: 6
Factorial is : 720

In [ ]:
def isPrime(n):
  for i in range(2, n // 2 + 1):
    if n % i == 0:
      return 0
  return 1

print(isPrime(11))
print(isPrime(8))

1
0

In [ ]:
def Odd_no_sum(n):
  s = 0
  for i in range(1, n+1):
    if i % 2 != 0:
      s += i
  return s

n = int(input("Enter a Number: "))
result = Odd_no_sum(n)
print(f"The Sum of Odd Number is: {result}")

Enter a Number: 11
The Sum of Odd Number is: 36

In [ ]:
def Even_num_sum(n):
  s = 0
  for i in range(1, n+1):
    if i % 2 == 0:
      s += i
  return s

n = int(input("Enter a Number: "))
result1 = Even_num_sum(n)
print(f"The Sum of Even Number is: {result1}")

Enter a Number: 8
The Sum of Even Number is: 20

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
total = 0
for num in range(2, n+1):
    if is_prime(num):
        total += num
print("The sum of all prime numbers from 1 to", n, "is", total)

Enter a number: 7
The sum of all prime numbers from 1 to 7 is 17

In [ ]:
def is_prime(n):
  for i in range(2, n//2 + 1):
    if n % i  == 0:
      return 0
  return 1

n = int(input("enter a number: "))
sum = 0
for num in range(2, n+1):
  if is_prime(num):
    sum += num
print(f"The Sum of all Prime Numbers from 1 to {n}, is: {sum}")

enter a number: 11
The Sum of all Prime Numbers from 1 to 11, is: 28

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = []
odd_num = []

for i in list:
  if i % 2 == 0:
    even_num.append(i)

for i in list:
  if i % 2 != 0:
    odd_num.append(i)

sum_of_even_num = 0
for num in range(len(even_num)):
  sum_of_even_num += even_num[num]
print(sum_of_even_num)

sum_of_odd_number = 0
for num in range(len(odd_num)):
  sum_of_odd_number += odd_num[num]
print(sum_of_odd_number)

30
25

In [ ]:
 ## Generate Random 6 digits otp

In [ ]:
import string as s
import random as r

otp = r.sample(s.digits, 6)
print("")
otp = "".join(otp)
print("OTP: ", otp)

OTP:  174083

In [ ]:
# 2: Exceptional Handeling
# Run Time Error are known as Exception e.g. division by zero,file not found, etc

In [ ]:
# Division by Zero

In [ ]:
for i in range(-5, 6):
  print("100/i",i,"=", 100/i)

100/i -5 = -20.0
100/i -4 = -25.0
100/i -3 = -33.333333333333336
100/i -2 = -50.0
100/i -1 = -100.0

ZeroDivisionError: ignored

In [ ]:
for i in range(-5, 6):
  try:
    print("100/i",i,"=", 100/i)
  except:
    print("error")

100/i -5 = -20.0
100/i -4 = -25.0
100/i -3 = -33.333333333333336
100/i -2 = -50.0
100/i -1 = -100.0
error
100/i 1 = 100.0
100/i 2 = 50.0
100/i 3 = 33.333333333333336
100/i 4 = 25.0
100/i 5 = 20.0

In [ ]:
## Name Error:

In [ ]:
print("x = ", x)

NameError: ignored

In [ ]:
try:
  print("x = ", x)
except:
  print("Exception Occured x is not defined")

Exception Occured x is not defined

In [ ]:
## Variable not Defined

In [ ]:
try:
  print("x = ", x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something Else Went Wrong")

Variable x is not defined

In [ ]:
## Exception Handeling: else without if
# The Try block does not raise any error, so the else block is executed:

try:
  print("Hello")
except:
  print("Something went Worng")
else:
  print("Nothing went worng")

Hello
Nothing went worng

In [ ]:
try:
  print(100/0)
except:
  print("Something went Worng")
else:
  print("Nothing went worng")

Something went Worng

In [ ]:
# finally  block

In [ ]:
try:
  print("x = ", x)
except:
  print("something went wrong")
finally:
  print("The 'try except' is finished")

something went wrong
The 'try except' is finished

In [ ]:
# Exception handeling for array out of index

In [22]:
l = [1, 2, 3, 4, 5]
for i in range(8):
  try:
    print(i, "=",l[i])
  except:
    print("error")

0 = 1
1 = 2
2 = 3
3 = 4
4 = 5
error
error
error

In [23]:
# Exceptional Handeling for file not found

In [24]:
filename = input("Enter File Name: ")
fp = open(filename)
fp.close()
print("Done")

Enter File Name: Shivam

FileNotFoundError: ignored

In [26]:
fileName = input("Enter File Name: ")
try:
  fp = open(fileName)
  fp.close()
except:
  print("Error !! %s file not found"%(fileName))

print("Done")

Enter File Name: Shivam
Error !! Shivam file not found
Done

In [27]:
# Add two numbers given by the user

try:
  a = int(input("Enter First Number: "))
  b = int(input("Enter Second Number: "))
  c = a + b
  print(a, "+", b, "=", c)
except:
  print("\nError !! a or b is not of int type !!")

Enter First Number: w

Error !! a or b is not of int type !!

In [28]:
try:
  a = int(input("Enter First Number: "))
except:
  print("\nError !! a is not of int type !!")
  exit(0)

try:
  b = int(input("Enter Second Number: "))
except:
  print("\nError !! a is not of int type !!")
  exit(0)

c = a + b
print(a, "+", b, "=", c)

Enter First Number: w

Error !! a is not of int type !!
Enter Second Number: 4

NameError: ignored

In [1]:
# Raise Exception 1

In [2]:
x = -1
if x < 0:
  raise Exception("Sorry, no numbers below Zero")

Exception: ignored

In [4]:
x = "Hello"

if type(x) is not int:
  raise TypeError("Only Integers are allowed")

TypeError: ignored